---
BasedOnStyle: LLVM
BraceWrapping:   
  AfterClass:      true
  AfterFunction:   true
  AfterObjCDeclaration: true
BreakBeforeBraces: Custom
Cpp11BracedListStyle: false
PenaltyBreakComment: 60
Standard:        Cpp03
