[submodule "external/SkyPat"]
	path = external/SkyPat
	url = https://github.com/skymizer/SkyPat.git
[submodule "external/onnx"]
	path = external/onnx
	url = https://github.com/onnx/onnx.git
[submodule "external/NVDLA"]
	path = external/NVDLA
	url = https://github.com/nvdla/sw.git
